@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
